<div class="container columns-wrap">
    <div class="row">
        <article class="column-main col-md-8">
            <h1 class="page-title">
                {{pageTitle}}
            </h1>
            <div class="content">
                {{content}}
            </div>
        </article>
        <aside class="column-side col-md-4">
            {{sideColumn}}
        </aside>
    </div>
</div>