<div class="container columns-wrap">
        <div class="row">
            <article class="column-main col-md-12">
            <h1 class="page-title">
                {{pageTitle}}
            </h1>
            <div class="content">
                {{content}}
            </div>
        </article>
    </div>
</div>